body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'GINZACDE';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/ginza/GINZACDE.TTF');
}
@font-face {
  font-family: 'GINZADEM';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/ginza/GINZADEM.TTF');
}

@font-face {
  font-family: 'Logik';

  src: url('./fonts/logik/Logik-ExtendedBlackOblique.eot');
}

@font-face {
  font-family: 'Logiktwo';

  src: url('./fonts/logik/Logik-Extended.ttf');
}

.active-menu-item {
  font-weight: bold; /* Adicione negrito */
  background-color: #C4F015; /* Defina a cor de destaque para o item ativo */
  border-radius: 5px; /* Adicione borda arredondada para destacar */
}



html {
  scroll-snap-type: y mandatory;
}

body {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;

}
